header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header p {
    margin: 0;
}

header div {
    margin-right: 1rem;
    margin-left: 1rem;
}

.lista-tecnologias{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.lista-tecnologias img {
    width: 10rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

footer #redes{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer a {
    display: block;
    padding-top: 10px;
}